@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
   
    html {
        font-size: 110%;
    }
}
    
@media only screen and (min-width: 90em) {
     
    html {
        font-size: 120%;
    }
}
    
@media only screen and (min-width: 120em) {
     
    html {
        font-size: 130%;
    }
}
    
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

a:hover,
a:active{
  outline:inherit; 
}

a:focus {
    outline: 3px solid #000;
}

.skip-links{
    margin: 0;
    padding 0;
    list-style-type: none;
} 
    
.skip-links a{
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em;
}
    
.skip-links a:focus {
    top: 0;
}

.billboard {
    padding-top: 6em;
    background-image: url(image/studio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
}

.billboardthanks {
    background-image: url(image/studio.jpg);
    height: 42em;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 11em;
}

.bheadline {
    text-align: center;
    color: #000;
    font-weight: 500;
}

.intro {
    background-color: #e2e2e2;
    margin:0;
    padding:0;
}
 
h1{
    text-align: center;
    margin:0;
    padding:0;
}

h2 {
   position: absolute;
   top: 240px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 500px;
   height: 50px;
}

h3 {
   position: absolute;
   top: 310px;
   left: 0;
   margin: 0 auto;
   width: 500px;
   height: 50px;
}

.header {
    background-color: black;
    text-decoration: none;
}

.title {
    text-align: center;
    padding: 0;
    margin: 0;
}

.about {
    max-width: 35em;
    margin: 0 auto;
    text-align: center;
}

.nav {
    padding:0;
    list-style-type: none;
}

.nav a {
    display: block;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    background-color: blue ;
    color: white ;
}

.footer ul a::after {
    content: "·";
}

.footer li:last-child a::after{
    content: none;
}

.sectionlight {
    background-color: black ;
}

.sectionmedium {
    background-color: black ;
}

.intro {
    text-align: center;
}

label {
 display: block;
}

input + label {
 display: inline-block;
}

button {
    position: relative;
    color:#aeb9e9;
    border: 2px solid #aeb9e9;
    background-color:#aeb9e9;
    border-radius: 10px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.25em;
    text-decoration: none;
}

.signup {
    text-decoration: none;
}

.homebutton{
    position:relative;
    border-radius: 10px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    font-size: 1.25em;
    text-decoration: none;
    top:70px;
    
    
}

.button:hover {
    background color: black;
}
  
.button:active {
    border-color: black;
}

.field{
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #666;
    background-color: #e2e2e2;
}

.whitetype{
    color:white;
}


.pricingtitle{
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color:white;
    background-color:#5b6ebd;
}

.pricelist{
    margin: 0 auto;
    text-align: center;
    display: block;
    list-style: none;
    background-color:#aeb9e9;
    color: black;
    padding: 0;
}

.price {
    background-color:#aeb9e9;
}

 .pricingbox{
        max-width:25em;
        margin: 0 auto;
 }

form{
    max-width:35em;
    margin: 0 auto;
}

.text-input {
    width:100%;
    height: 2em;
}

@media only screen and (min-width: 25em) {
    
.nav li {
 display:inline-block;
}
    
.nav {
 text-align: center;
}
    
label {
 display: block;
}

input + label {
 display: inline-block;
 }

.copyright {
    text-align:center;
}
    
@media only screen and (min-width: 38em) {
    
.nav li {
 display:inline-block;
}
    
.nav {
 text-align: center;
}
    
label {
 display: block;
}

input + label {
 display: inline-block;
 }

.copyright {
    text-align:center;
}    
    
.thanks{
    max-width: 40em;
    margin: 0 auto;
}
    
.pricingbox{
    max-width: none;
}
    
    
@media only screen and (min-width: 60em) {
    
.title {
    float:left;
 }

.nav {
    float: left;
 }
    
.navbottom {
   float:right;
}
    
.copyright {
    text-align: left;
}

dl {
  overflow: hidden;
  
}

dt {
  clear: left;
  float: left;
  width: 8em;
}

dd {
  float: left;
  margin: 0;
  padding: 0;
}
    
.thanks{
    max-width: 40em;
    margin: 0 auto;
}
    
.pricingbox{
    max-width: none;
}
